#slider{
    overflow: hidden;
    position: fixed;
    top: 200px;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure div {
    height: 36px;
    float: left;
    width: 20%;
    text-align: center;
    text-size-adjust: 100%;
    color: rgb(18, 40, 76);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 36px;
    background-color: rgb(215, 235, 242);
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}