body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: 400px;
    /* border-radius: 10px; */
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 100%;
    transition: 3s;
}

.slide img {
    width: 1400px;
    height: 400px;
}

/* css for manual slide navigation */

.navigation_manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: end;
}

.manual_btn {
    border: 2px solid purple;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 3s;
}

.manual_btn:not(:last-child){
margin-right: 40px;
}


.manual_btn:hover{
    background: ff00ff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}
#radio4:checked ~ .first {
    margin-left: -300%;
}

/* css for automatic navigation */


.navigation_auto{
    /* position: absolute; */
    /* float: right; */
    display: flex;
    flex-direction: row-reverse;
    width: 800px;
    justify-content: right;
    margin-top: 460px;
}

.navigation_auto div{
    border: 2px solid red;
    padding: 5px;
    border: 5px;
    border-radius: 10px;
    transition: 3s;
}

.navigation_auto div:not(:last-child){
    margin-right: 40px;
}

/* #radio1:checked ~ .navigation_auto .auto_btn1{
    background: black;
}
#radio2:checked ~ .navigation_auto .auto_btn2{
    background: black;
}
#radio3:checked ~ .navigation_auto .auto_btn3{
    background: black;
}
#radio4:checked ~ .navigation_auto .auto_btn4{
    background: black;
} */